
        body {
            background-color: rgb(135, 23, 228);
            font-family:Bahnschrift SemiBold;
            color: azure;
        }
        
        h1, h2 {
            font-size: 50px;            
        }

        section {
            width: 50%;
            padding-left: 25%;
            align-content: center;
            padding-top: 10%;
        }

        .btn {
            background-color: rgb(135, 23, 228);
            color: azure;
            border-radius: 15%;
            border-color: azure;
            font-size: 200%;
            font-family: Bahnschrift SemiBold;
            cursor: pointer;
        }

        input:hover {
            background-color: azure;
            color:  rgb(135, 23, 228);
            transition-duration: 500ms;
            transition-timing-function: ease-in-out;
        }